* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	/* line-height: 1.2; */
}
.container {
	border: 5px solid black;
	width: 800px;
	margin: 100px auto;
	/* margin-top: 100px; */
}
header {
	background-color: seashell;
}
h2 {
	text-transform: uppercase;
	text-align: center;
	padding: 20px;
}
h4 {
	padding-top: 30px;
	/* padding-bottom: 10px; */
	text-transform: uppercase;
}
p {
	line-height: 1.2;
}
.para {
	margin-bottom: 10px;
}
button {
	background-color: black;
	color: white;
	width: 120px;
	text-transform: uppercase;
	border: none;
	width: 100%;
	height: 45px;
	font-size: 16px;
}

button:hover {
	background-color: white;
	color: black;
	border-top: 5px solid black;
	cursor: pointer;
}
.article {
	font-size: 10px;
	text-transform: uppercase;
	color: #777;
	font-family: sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}
.price {
	font-size: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
}
li {
	list-style-type: square;
	margin: 25px;
}
.more-info {
	margin-bottom: 10px;
}
.more-info:link,
.more-info:visited {
	color: black;
}
.more-info:hover,
.more-info:active {
	text-decoration: none;
}
